@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
  color: #181819;
  line-height: 1.6; }

.heading {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -.1rem;
  text-transform: uppercase;
  cursor: pointer; }
  .heading a,
  .heading a:visited {
    text-decoration: none;
    color: inherit; }

.navigation {
  line-height: 2;
  padding: 1rem 2.5rem;
  position: fixed;
  z-index: 100; }
  .navigation__list {
    list-style: none;
    padding-top: 1rem; }
  .navigation__link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #181819;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: -.7rem;
    transition: all .3s; }
  .navigation__link::before {
    content: "—";
    color: transparent;
    transition: all .3s; }
  .navigation__link:hover, .navigation__link:hover::before {
    margin-left: 0;
    color: #181819; }

.header {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center; }

.polaroids {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content; }
  .polaroids__frame {
    background: linear-gradient(to bottom, #fafafa 10%, #fff 90%);
    padding: 3rem 1.5rem 7rem 1.5rem;
    border-radius: 1%;
    transition: all .3s;
    display: grid;
    justify-content: center; }
    .polaroids__frame--1 {
      box-shadow: -0.5rem 0.5rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(-20deg);
      z-index: 4;
      margin-right: -6rem; }
    .polaroids__frame--2 {
      box-shadow: 0.5rem 1rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(15deg);
      z-index: 5; }
    .polaroids__frame--3 {
      box-shadow: 0 1rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(-1deg);
      z-index: 3;
      margin-left: -2rem; }
    .polaroids__frame:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 1rem rgba(24, 24, 25, 0.2);
      z-index: 10; }
  .polaroids__image {
    background-size: cover;
    background-position: center;
    width: 20rem;
    height: 27rem;
    filter: contrast(80%); }
    .polaroids__image--1 {
      background-image: url(../img/blackpool.png); }
    .polaroids__image--2 {
      background-image: url(../img/glencoe.png); }
    .polaroids__image--3 {
      background-image: url(../img/nairn.png); }

.about__box {
  padding: 0 11rem;
  display: grid;
  grid-template-columns: 2fr 1fr; }

.about__image {
  width: 100%;
  grid-column: 2; }

.about__text {
  padding-right: 3rem;
  font-size: 2rem;
  font-weight: 200;
  grid-column: 1;
  grid-row: 1; }

.reviews {
  display: grid;
  justify-items: center; }
  .reviews__list {
    padding: 3rem 11rem;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-gap: 2rem;
    justify-items: center; }
  .reviews__client {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 2rem; }
  .reviews__figure {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden; }
  .reviews__img {
    height: 100%;
    transform: scale(1);
    transition: all .3s; }
  .reviews__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .3s; }
  .reviews__text {
    font-size: 1.3rem;
    font-weight: 300;
    align-self: center; }
  .reviews__client:hover .reviews__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .reviews__client:hover .reviews__img {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #000; }
  .footer .social__icon {
    background-color: #fff; }
