@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
  color: #181819;
  line-height: 1.6; }

section {
  padding-bottom: 10rem; }

.heading {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -.1rem;
  text-transform: uppercase;
  cursor: pointer; }
  .heading a,
  .heading a:visited {
    text-decoration: none;
    color: #181819; }

.heading-3 {
  color: #181819;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3rem; }

.navigation {
  line-height: 2;
  padding: 1rem 2.5rem;
  position: fixed;
  z-index: 100; }
  .navigation__list {
    list-style: none;
    padding-top: 1rem; }
  .navigation__link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #181819;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: -.7rem;
    transition: all .3s; }
  .navigation__link::before {
    content: "—";
    color: transparent;
    transition: all .3s; }
  .navigation__link:hover, .navigation__link:hover::before {
    margin-left: 0;
    color: #181819; }

.header {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center; }

.polaroids {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content; }
  .polaroids__frame {
    background: linear-gradient(to bottom, #fafafa 10%, #fff 90%);
    padding: 3rem 1.5rem 7rem 1.5rem;
    border-radius: 1%;
    transition: all .3s;
    display: grid;
    justify-content: center; }
    .polaroids__frame--1 {
      box-shadow: -0.5rem 0.5rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(-20deg);
      z-index: 4;
      margin-right: -6rem; }
    .polaroids__frame--2 {
      box-shadow: 0.5rem 1rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(15deg);
      z-index: 5; }
    .polaroids__frame--3 {
      box-shadow: 0 1rem 1rem rgba(24, 24, 25, 0.2);
      transform: rotate(-1deg);
      z-index: 3;
      margin-left: -2rem; }
    .polaroids__frame:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 1rem rgba(24, 24, 25, 0.2);
      z-index: 10; }
  .polaroids__image {
    background-size: cover;
    background-position: center;
    width: 20rem;
    height: 27rem;
    filter: contrast(80%); }
    .polaroids__image--1 {
      background-image: url(../img/blackpool.png); }
    .polaroids__image--2 {
      background-image: url(../img/glencoe.png); }
    .polaroids__image--3 {
      background-image: url(../img/nairn.png); }

.about {
  display: grid;
  justify-items: center;
  grid-gap: 3rem; }
  .about__box {
    width: 80%;
    padding: 0 11rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr, max-content));
    grid-gap: 3rem; }
  .about__image {
    width: 40rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(24, 24, 25, 0.1);
    transition: all .3s;
    z-index: 10; }
  .about__caption {
    padding-top: 1rem;
    color: #787c7f;
    text-align: center;
    transform: translateY(-3rem);
    opacity: 0;
    z-index: -1;
    transition: all .3s; }
  .about__image:hover + .about__caption {
    opacity: 1;
    transform: translateY(0); }
  .about__text {
    color: #303133;
    font-size: 1.4rem;
    font-weight: 200;
    grid-column: 2;
    grid-row: 1;
    align-self: center; }

.skills {
  display: grid;
  justify-items: center;
  grid-gap: 3rem; }
  .skills__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem; }
  .skills__icon {
    font-size: 10rem;
    padding: 0 2rem;
    color: #787c7f;
    transition: all .3s; }
    .skills__icon:hover {
      color: #bde0ff; }
  .skills__caption {
    padding: 1rem;
    color: #787c7f;
    text-align: center;
    transform: translateY(-2rem);
    opacity: 0;
    z-index: -1;
    transition: all .3s; }
  .skills__icon:hover + .skills__caption {
    opacity: 1;
    transform: translateY(0); }

.portfolio {
  display: grid;
  justify-items: center; }
  .portfolio__grid {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center; }
  .portfolio__card {
    color: #606366;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(24, 24, 25, 0.1);
    display: grid;
    justify-items: center;
    grid-auto-rows: minmax(min-content, max-content); }
  .portfolio__figure {
    position: relative;
    overflow: hidden; }
  .portfolio__img {
    width: 100%;
    overflow: hidden;
    transition: all .3s; }
  .portfolio__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    background-color: #bde0ff;
    padding: 1rem 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .3s; }
  .portfolio__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding: 1.5rem; }
  .portfolio__description {
    padding: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 400; }
  .portfolio__figure:hover .portfolio__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .portfolio__figure:hover .portfolio__img {
    filter: blur(1px) brightness(50%); }

.reviews {
  display: grid;
  justify-items: center; }
  .reviews__list {
    padding: 3rem 11rem;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-gap: 3rem;
    justify-items: center; }
  .reviews__client {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4rem;
    box-shadow: 0 1rem 2rem rgba(24, 24, 25, 0.1);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 2rem; }
  .reviews__figure {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden; }
  .reviews__img {
    height: 100%;
    transform: scale(1);
    transition: all .3s; }
  .reviews__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .3s; }
  .reviews__text {
    color: #606366;
    font-size: 1.3rem;
    font-weight: 300;
    align-self: center; }
  .reviews__client:hover .reviews__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .reviews__client:hover .reviews__img {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%); }

.resume {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: grid;
  justify-items: center; }
  .resume:target {
    opacity: 1;
    visibility: visible; }
  .resume__close:link, .resume__close:visited {
    color: #181819;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .resume__content {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.7); }

.footer {
  background-color: #181819;
  text-transform: uppercase; }
  .footer__container {
    padding: 3rem;
    display: grid;
    justify-items: center;
    grid-gap: 1rem; }
  .footer__email {
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
    .footer__email:hover {
      color: #bde0ff; }
  .footer .social {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; }
    .footer .social__link {
      text-decoration: none; }
    .footer .social__icon {
      height: 4rem;
      width: 4rem;
      fill: #fff;
      transition: all .3s; }
      .footer .social__icon:hover {
        fill: #bde0ff; }
