.about {

    display: grid;
    justify-items: center;
    grid-gap: 3rem;

    &__box {
        width: 75%;
        padding: 0 11rem;

        display: grid;
        grid-template-columns: repeat(2, minmax(1fr, max-content));
        grid-gap: 3rem;
    }

    &__image {
        width: 40rem;
        background-color: rgba(#fff, .7);
        padding: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .1);
        transition: all .3s;
        z-index: 10;
    }

    &__caption {
        padding-top: 1rem;
        color: $color-gray;
        text-align: center;
        transform: translateY(-3rem);
        opacity: 0;
        z-index: -1;
        transition: all .3s;
    }

    &__image:hover + &__caption {
        opacity: 1;
        transform: translateY(0);
    }

    &__text {
        color: $color-gray-dark-2;
        font-size: 1.5rem;
        font-weight: 200;

        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }
}