.footer {
    background-color: $color-primary-dark;
    text-transform: uppercase;

    &__container {
        padding: 3rem;

        display: grid;
        justify-items: center;
        grid-gap: 1rem;
    }

    &__email {
        color: #fff;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            color: $color-primary;
        }
    }

    .social {

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        
        &__link {
            text-decoration: none;
        }

        &__icon {
            height: 4rem;
            width: 4rem;
            fill: #fff;
            transition: all .3s;

            &:hover {
                fill: $color-primary;
            }
        }
    }
}