.portfolio {

    display: grid;
    justify-items: center;

    &__grid {
        width: 65%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        justify-items: center;
    }

    &__card {
        color: $color-gray-dark;
        background-color: rgba(#fff, .7);
        padding: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .1);

        display: grid;
        justify-items: center;
        grid-auto-rows: minmax(min-content, max-content);
    }

    &__figure {
        position: relative;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        overflow: hidden;
        transition: all .3s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #fff;
        background-color: $color-primary;
        padding: 1rem 4rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .3s;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        padding: 1.5rem;
    }

    &__description {
        padding: 0 1rem 1rem 1rem;
        font-size: 1.3rem;
        font-weight: 400;
    }

    &__tools {
        padding: 1rem;
        margin: 1rem;
        font-size: 1.2rem;
        text-align: center;
        border: 1px solid $color-gray-dark;
    }

    &__figure:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &__figure:hover &__img {
        filter: blur(1px) brightness(50%);
    }
}