.reviews {

    display: grid;
    justify-items: center;

    &__list {
        padding: 3rem 11rem;

        display: grid;
        grid-template-columns: minmax(min-content, max-content);
        grid-gap: 3rem;
        justify-items: center;

        @media only screen and (max-width: $bp-medium) {
            padding: 2rem;
        }
    }

    &__client {
        width: 65%;
        background-color: rgba(#fff, .7);
        padding: 4rem;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .1);

        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 2rem;

        @media only screen and (max-width: $bp-largest) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-large) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__figure {
        width: 15rem;
        height: 15rem;
        position: relative;
        overflow: hidden;
    }

    &__img {
        height: 100%;
        transform: scale(1);
        transition: all .3s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .3s;
    }

    &__text {
        color: $color-gray-dark;
        font-size: 1.3rem;
        font-weight: 300;

        align-self: center;
    }

    &__social {
        
        grid-column: 2;
        justify-self: end;

        @media only screen and (max-width: $bp-smallest) {
            grid-column: 1;
        }
    }

    &__link {
        color: inherit;
        font-size: 1.3rem;
        font-weight: 300;
        text-decoration: none;
    }

    &__client:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &__client:hover &__img {
        transform: scale(1.2);
        filter: blur(3px) brightness(80%);
    }
}