.dark-theme {
    color: $color-light;
    background: $color-dark;

    .navigation {
        
        &__logo {

            &--link,
            &--link:visited {
                color: $color-light;
            }
        }

        &__btn {
    
            &--icon, 
            &--icon::before, 
            &--icon::after {
                background-color: $color-light;
            }
    
            &:hover &--icon,
            &:hover &--icon::before,
            &:hover &--icon::after {
                background: $color-gray-light;
            }
        }

        &__list {

            &--link {
                color: $color-light;

                &:hover,
                &:hover::before {
                    margin-left: 0;
                    color: inherit;
                }
            }
        }

        &__theme {

            &--switch {
                color: inherit;
                border: 1px solid $color-light;

                &:hover {
                    color: $color-dark;
                    border: 1px solid transparent;
                    background-color: $color-light;
                }
            }
        }
    }

    .header {
        height: 100vh;
        background: linear-gradient(rgba($color-dark, .6)), url("../img/dark-scotland.jpg") no-repeat;
        background-size: cover;
    }

    .heading-2 {
        color: $color-gray-light;
    }

    .about {

        &__text {
            color: $color-gray;
        }
    }

    .skills {

        &__figure {
    
            i {
                color: transparent;
                font-size: 4rem;
                -webkit-text-stroke: 1px $color-light;
            }
    
            &:hover {
                i {
                    color: $color-light;
                    -webkit-text-stroke: 1px transparent;
                }
        
                figcaption {
                    color: $color-light;
                }
            }
        }

        &__caption {
            color: $color-gray;
        }
    }

    .reviews {

        &__client {
            border: 1px solid $color-light;
        }

        &__text {
            color: $color-gray;
        }

        &__link {
            &:hover {
                color: $color-gray-light;
            }
        }
    }

    .footer {

        &__social {

            &--icon {

                &:hover {
                    -webkit-text-stroke: 1px $color-light;
                }
            }
        }
    }
}
